@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 1600px){
	.indexCity1600{ display:block; position:absolute; background:url(../resource/index/index-city0.png);top: 320pt; left: 10pt; height: 100%; z-index: 0; background-size: contain; width: 100%;}
	.indexWord1{}
    .indexWord2{}
    .displayNone1600{ display:none;}
	.indexWord{ margin:0; text-align:center; z-index:10;}
	.contactWord{}
	.indexCityContainer{ left:4%;}
	}
	
@media screen and (max-width: 1400px){
	header .logo img{ height: 4.5vw;}
	header{background-color: #50cdeb; width: 100%; height: 70pt; z-index: 1000;  position: fixed; top: 0;}
	.indexCityContainer{ left:0%;}
	.indexCity1600{ top:370pt;}
	}
@media screen and (max-width: 1200px){
	.indexCity1600{ display:none;}
	header{background-color: #51bcf2;}
	header .logo img{ height: 4.5vw}
	#main{height:100%; width:100%; overflow:hidden; background-image:url(../resource/index/indexC.jpg); background-size:cover;}
    #indexCity{ display:none;}
	.indexWord{ display:none;}
	.home{display:none;}
	.about_usRow{ background-image: none; padding: 10vw 5vw 0; text-align:center; width:100%;}
	#about_us .about_usContent img{ width:40vw;}
	#services .bolder img{ height: 24vw; width: 30vw; margin-top: 14pt;}
	.Word img{ height:12vw;}
	.contactBG{ height:370pt; width:100%; background-image:url(../resource/index/index6-BG.jpg);}
	.indexWord2{text-align: center;}
	#portfolio{  height:900pt;}
	#services .bolder{height: 440pt;}
	#inner .wrapper .img-responsive{display: block; max-width: 100%; height: auto;}
	.titlePic img{ height:80%; width:80%;}
	#contact p{ font-size:28pt; line-height: 42pt;}
	}
@media screen and (max-height: 1024px){
	.indexCity1600{ top:414pt;}
	}
	
@media screen and (max-width: 992px){
	#about_us .about_usContent img{ width:80vw;}
	.displayBlock992{ display:block;}
	.displayNone992{ display:none;}
	header .logo img{ height: 4.5vw;}
	#about_us{ text-align:center;}
	#about_us .container .row p{ text-align:left;}
	#about_us .container .row .content{ padding:0 5px;}
	#main{height:100%; width:100%; overflow:hidden; background-image:url(../resource/index/indexD.jpg); background-size:cover; background-position:bottom; background-repeat:no-repeat;}
	#about_us .designing{ display:none;}
	#about_us .designing925{ display:block;}
	#services{height: 1120px;}
    }
	
@media screen and (max-width: 600px){
	header{ background-color:#45b6de;}
	#main{background-image:url(../resource/index/indexF.jpg); background-size:cover;}
	header .logo img{ height: 14vw;}
    }
	
@media screen and (max-height: 700px){
	#main{background-image:url(../resource/index/indexE.jpg); background-size:cover;}
    }